@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html[data-primary-theme='light'] {
        color-scheme: light;
    }

    html[data-primary-theme='dark'] {
        color-scheme: dark;
    }

    html[data-primary-theme='light'][data-secondary-theme='sweet'] {
        --primary-font: "Abril Fatface", "serif";
        --secondary-font: "Poppins", "sans-serif";

        --main-background-color: #FFFFEB;
        --secondary-background-color: #E9E1C1;
        --task-color: #A8CFB9;
        --text-color: #50281F;
        --main-color: #F4E65A50;
        --secondary-color: #50281F;
        --secondary-light-color: #50281F75;
    }

    html[data-primary-theme='dark'][data-secondary-theme='sweet'] {
        --primary-font: "Abril Fatface", "serif";
        --secondary-font: "Poppins", "sans-serif";

        --main-background-color: #351C16;
        --secondary-background-color: #50281F;
        --task-color: #365142;
        --text-color: #EDEDCE;
        --main-color: #9f9a7a;
        --main-color: #DCC90050;
        --secondary-color: #F7EEB8;
        --secondary-light-color: #F7EEB895;
    }

    /* html[data-secondary-theme='minimal'] {
        --primary-font: "Space Mono", "monospace";
        --secondary-font: "Bitter", "serif";
        --secondary-color: #A8CFB9;
    } */

    svg {
        @apply p-2 size-9;
    }

    label {
        @apply flex-1 font-bold;
    }

    input {
        @apply w-full bg-[var(--task-color)] rounded-xl px-5 py-2 outline-[var(--secondary-color)] font-normal my-2;
    }

    
    body {
        background-color: var(--background-color);
        font-family: var(--secondary-font);
        color: var(--text-color);
    }
}

@layer components {
    .error {
        @apply flex items-center text-sm font-normal text-red-700;
    }

    .logo {
        @apply text-4xl font-bold main-font ms-2;
    }

    .primary-btn {
        @apply bg-[var(--secondary-color)] text-[var(--main-background-color)] rounded-full text-sm p-2.5;
    }

    .toast-success {
        @apply fixed z-50 max-w-md p-4 text-[var(--main-background-color)] bg-green-900 ps-2 rounded-xl top-3 right-5;
    }

    .toast-error {
        @apply fixed z-50 max-w-md p-4 text-[var(--main-background-color)] bg-red-700 ps-2 rounded-xl top-3 right-5;
    }

    .open-sidenav {
        @apply top-0 left-0 start-0;
    }

    .close-sidenav {
        @apply top-0 -left-full;
    }

    .open-sidenav-bg {
        @apply md:block;
    }

    .close-sidenav-bg,
    label.toggle-button input {
        @apply hidden;
    }

    label.toggle-button {
        @apply relative flex items-center w-24 p-1 transition-all rounded-full cursor-pointer bg-[var(--main-color)];
    }

    label.toggle-button span {
        @apply w-8 h-8 transition-transform rounded-full bg-[var(--text-color)];
    }

    label.toggle-button input:checked + span {
        @apply float-right ml-auto mr-10 translate-x-10;
    }

    label.toggle-button input:checked + span>* {
        @apply float-right ml-auto mr-0;
    }

    label.toggle-button:active span {
        @apply w-14;
    }
}

@layer utilities {
    .main-bg {
        background-color: var(--main-background-color);
    }
    
    .secondary-bg {
        background-color: var(--secondary-background-color);
    }
    
    .main-font {
        font-family: var(--primary-font);
    }

    .task {
        background-color: var(--task-color);
    }

    button>svg,
    span:not(.logo)>a {
        padding: 0.5rem;
        border-radius: 9999px;
        margin: 0.25rem;
    }

    span:not(.logo)>a:hover:not(.active) {
        background-color: var(--secondary-light-color);
        color: var(--main-background-color);
    }

    button>svg:hover,
    a.active {
        background-color: var(--main-color);
    }

    a.active {
        display: block;
    }
}